:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid black; */
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
  ::-webkit-scrollbar {
    display: none; /* WebKit (Chrome, Safari, etc.) */
  }
}

a{
  color: rgb(55, 140, 231);
  text-decoration: none;
}